body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    margin: 0px;
    padding: 0px;
}

div#header {
    width: 100%;
    height: 270px;
    background: #314b6e url(images/fundo.png) repeat-x bottom;
}

div#mid-header {
    width: 69%;
    margin: 0px auto;
}

img#logo {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 17%;
}

img#mapa {
    float: right;
    text-align: right;
}

ul#nav {
    padding-left: 0px;
}

ul#nav li {
    list-style: none;
    display: inline;
}

ul#nav a {
    text-decoration: none;
    color: white;
    background: #b10333 url(images/divisor.png) repeat-y right;
    display: inline;
    margin: 0px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    padding: 10px 25px;
    float: left;
}

ul#nav a:hover {
    background: #8e0129 url(images/divisor.png) repeat-y right;
}

div#content {
    width: 69%;
    margin: 15px auto;
    background: pink;
}

#content div {
    float: left;
    padding: 5px;
    margin: 4px;
}

div#lateral div,
div#principal div,
div#secundaria div {
    background: gray url(images/fundo-caixa.png);
}

#content h3 {
    background: #314b6e;
    color: white;
    font-size: 1.7em;
    margin-top: 5px;
    padding-left: 10px;
}

#content p {
    background: white;
}

/* LATERAL */
div#lateral {
    width: 19%;
    /*border: 1px solid red;*/
}

div#interview {
    width: 100%;
    float: left;
}

#interview ul {
    background: white;
    list-style: none;
    padding-left: 5px;
}

#interview li {
    margin: 15px 0px;
}

#interview a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
}

#interview a:hover {
    color: gray;
    background: url(images/marcador.png) no-repeat left;
    padding-left: 22px;
}

div#news {
    width: 100%;
    float: left;
}

#news form {
    background: white;
}

#news label, #news input {
    margin: 5px 0px;
    display: block;
}

input#email {
    width: 85%;
    font-size: 1.1em;
}

#news label {
    font-size: 1.2em;
    font-weight: bold;
}

input#btncadastrar {
    background: #b10333;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
}

/* PRINCIPAL */
div#principal {
    width: 45%;
    /*border: 1px solid green;*/
}

div#last-interview {
    width: 100%;
    float: left;
}

#last-interview h4 {
    background: #b10333;
    color: black;
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 0px;
    padding: 4px 8px;
}

#last-interview img {
    width: 99%;
}

#last-interview p {
    font-size: 1.1em;
}

div#world {
    width: 100%;
    float: left;
}

#world img {
    width: 25%;
    float: left;
    margin-bottom: 5px;
}

#world a {
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #35629d;
    font-weight: bold;
}

#world p {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 72%;
}

#world hr {
    clear: both;
    margin: 10px 0px;
}

/* SECUNDARIA */
div#secundaria {
    width: 30%;
    /*border: 1px solid blue;*/
}

div#highlight {
    width: 100%;
    float: left;
}

#highlight h4 {
    background: #b10333;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 0px;
    padding: 4px 8px;
}

#highlight img {
    width: 99%;
}

div#recent-news {
    width: 100%;
    float: left;
}

#recent-news img {
    width: 30%;
    float: left;
    margin-bottom: 5px;
}

#recent-news a {
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #35629d;
    font-weight: bold;
}

#recent-news p {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 60%;
}

div#footer {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background: #314b6e;
    clear: both;
}

div#mid-footer {
    width: 69%;
    margin: 0px auto;
    line-height: 50px;
}

p#copyright {
    color: white;
}